<div class="row">
  <div class="cols-xs-12">
    <ul class="nav nav-pills">
      <li routerLinkActive="active">
        <a [routerLink]="['basic']"> Basic </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['templatedriven']"> Template Driven </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['reactiveform']"> Reactive Form </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['serviceuse']"> Service use </a>
      </li>
    </ul>
  </div>
</div>
